/* client/src/components/Header.css */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background-color: #333;
  position: relative;
  width: 100%;
  box-sizing: border-box; /* padding이 너비에 포함되도록 설정 */
}

.logo {
  position: absolute;
  top: 42px;
  left: 42px;
  width: 50px;
  height: auto;
}

header div {
  text-align: center;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 5px 0;
}

header p {
  font-size: 14px;
  font-weight: bold;
  color: #ff6;
  margin: 5px 0;
}